.header-container {
    display: flex;


}

.header {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.tab-body {
    display: flex;
    border: 1px solid black;
    height: 200px;
    padding: 5px;
}

.submit {
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    display: block;
    font-size: small;
}